/* 전 항목 공통 */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    color: #000;
    font-family: 'Noto Sans KR', sans-serif;
}
body {
    scroll-behavior: smooth; /* 스크롤을 부드럽게 만듭니다. */
    transition: background-color 0.4s ease;
    background-color: #000;
}

.invert-color{
    filter: invert(100%);
}

/* 메뉴바 */
nav{
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    pointer-events: none;
}
.menubar{
    max-width: 1840px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.menubar > * {
    pointer-events: auto;
}
.logo{
    padding-top: 52px;
    position: relative;
    transition: 0.4s;
    cursor: pointer;
}
.logo>img{
    width: 133px;
    height: 56px;
    object-fit: contain;
}
.m_button_c{
    width: 35px;
    height: 35px;
    margin-top: 68px;
    display: flex;
    justify-content: center;
    transition: 0.2s;
    cursor: pointer;
}
.m_button_c:hover{
    width: 67px;
}
.m_button{
    width: 35px;
    height: 35px;
    background-color: #1A1A1A;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    transition: 0.2s;
}
.m_button_c:hover .m_button{
    width: 67px;
    border-radius: 18px;
}
.m_line_1{
    width: 22px;
    border: 2px solid #fff;
    border-radius: 10px;
    position: absolute;
    margin-top: 10px;
    transition: 0.3s;
}
.m_line_2{
    width: 22px;
    border: 2px solid #fff;
    border-radius: 10px;
    position: absolute;
    margin-top: 21px;
    transition: 0.3s;
}
.m_line_1.checked{
    width: 24px;
    margin-top: 15px;
    transform: rotate( 135deg );
}
.m_line_2.checked{
    width: 24px;
    margin-top: 15px;
    transform: rotate( -135deg );
}

/* 클릭 후 나타나는 메뉴바 */
.logo_c{
    max-width: 1840px;
    width: 100%;
    display: flex;
    justify-content: left;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    z-index: 99999;
    opacity: 0;
    transition: 0.2s;
}
.logo_c.checked{
    opacity: 1;
}
.logo_c_1{
    padding-top: 52px;
    transition: 0.5s;
}
.logo_c_1>img{
    width: 133px;
    height: 56px;
    object-fit: contain;
}

.menu_c{
    max-width: 1840px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: right;
    transition: 0.2s;
}
.menu_c.checked{
    max-width: 100%;
}
.click_menu{
    width: 35px;
    height: 35px;
    background-color: #1A1A1A;
    position: fixed;
    top: 0;
    z-index: 999;
    transform: translate(0px, 68px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: 0.4s;
    border-radius: 200px;
}
.click_menu:hover{
    width: 67px;
}
.click_menu.checked{
    width: 100%;
    height: 287px;
    transform: translate(0px, 0px);
    border-radius: 0px;
}
.m_list{
    max-width: 600px;
    width: 95%;
    height: 40px;
    margin-top: 160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
}
.m_list.checked{
    visibility: visible;
    opacity: 1;
    transition: 0.7s;
}
.m_list>p{
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    white-space: nowrap;
    padding: 0px 20px 0px 20px;
    border-radius: 50px;
    transition: 0.3s;
    cursor: pointer;
}
.m_list > p:hover {
    color: #1A1A1A;
    background-color: #fff;
}
.click_bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
}
.click_bg.checked{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    visibility: visible;
    z-index: 99;
}
.m_text{
    width: 100%;
    visibility: hidden;
    transition: 0.2s;
    opacity: 0;
}
.m_text.checked{
    visibility: visible;
    transition: 0.4s;
    opacity: 1;
}
.m_text>p{
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    color: #fff;
}
#undoButton{
    width: 100%;
    height: 100%;
}

/* 메인배너 */
.main_b{
    max-width: 1840px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
}
.banner{
    width: 100%;
    height: 86vh;
    background-color: black;
    left: 50%;
    transform: translate(-50%,0);
    bottom: 0;
    position: absolute;
    opacity: 1;
    /* animation: fadeIn 1.2s ease-in-out; */
    transition: width 1.2s ease, height 1.2s ease;
}
video{
    width: 100%;
    height: 100%;
}
/* @keyframes fadeIn {
    from {
      width: 0;
      height: 0;
    }
    to {
      width: 100%;
      height: 80vh;
    }
  } */

/* 콘텐츠_1 */
.content_1{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 400px;
}
.con1_c{
    max-width: 1312px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.con1_c1{
    transition: 1.5s;
    color: #fff;
    transform: translate(0, 300px);
}
.con1_c1 h1{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 39px;
    font-weight: 600;

}
.con1_c1 h2{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 35px;
    line-height: 34px;
}
.con1_c1 h3{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #FFF;
    background-color: #1A1A1A;
    padding: 5px 30px 5px 30px;
    display: inline-flex;
    margin-top: 300px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.con1_c1 h3:hover{
    padding: 5px 50px 5px 50px;
}
.con1_c2{
    max-width: 553px;
    width: 90%;
    height: 563px;
    overflow: auto;
    scrollbar-width: none;
    transition: 0.3s;
}
.con1_c2:hover{
    border-radius: 80px;
}
.con1_c2 img{
    width: 100%;
    object-fit: contain;
}

/* 콘텐츠_2 */
.content_2{
    width: 100%;
    height: auto;
    margin-top: 400px;
}
.con2_c{
    max-width: 1312px;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.con2_t{
    width: 100%;
    height: 46px;
    position: relative;
    display: flex;
}
.con2_t h1{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: #1A1A1A;
    z-index: 2;
    transition: 0.3s;
}
.con2_t h2{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 46px;
    font-weight: 900;
    color: #CECECE;
    position: absolute;
    z-index: 1;
    transform: translate(317px, -34px);
}
.con2_i{
    width: 100%;
    height: auto;
    margin-top: 54px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.con2_i_1,
.con2_i_2,
.con2_i_3,
.con2_i_4,
.con2_i_5,
.con2_i_6 {
    max-width: 400px;
    width: 90%;
    height: auto;
    margin-bottom: 49px;
    cursor: pointer;
}
.con2_img1{
    transition: 0.3s;
}
.con2_i div:hover .con2_img1{
    border-radius: 300px;
}
.con2_text{ 
    /* 콘텐츠2의 텍스트 조정 */
    height: 26px;
    margin-top: 16px;
    display: inline-flex;
    position: relative;
}
.con2_text p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #1A1A1A;
    z-index: 2;
}
.con2_text_hover{
    left: 0;
    right: 0;
    bottom: 0;
    height: 0px;
    position: absolute;
    background-color: #FFD981;
    z-index: 1;
    transition: 0.3s;
}
.con2_i div:hover .con2_text_hover{
    height: 15px;
}
.con2_b{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.con2_b p{
    background-color: #1A1A1A;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    padding: 5px 30px 5px 30px;
    border-radius: 20px;
    transition: 0.3s;
    cursor: pointer;
}
.con2_b p:hover{
    padding: 5px 50px 5px 50px;
}

/* 콘텐츠_3 웹진 */
.content_3{
    width: 100%;
    height: auto;
    margin-top: 260px;
}
.con3_t h2{
    transform: translate(139px, -34px);
}

/* 콘텐츠_5 사사 */
.con5_t h2{
    transform: translate(60px, -34px);
}




/* 푸터 */
footer{
    width: 100%;
    height: 180px;
    background-color: #1A1A1A;
    margin-top: 60px;
}
.ft_t_1{
    display: flex;
    justify-content: center;
}
.ft_t_1 p{
    margin-top: 50px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #FFF;
}
.ft_t_2{
    display: flex;
    width: 90%;
    max-width: 300px;
    justify-content: space-between;
    margin: 0 auto;
}
.ft_t_2 p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    margin-top: 20px;
}
